# Import Relevant libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# Load the dataset

In [2]:
fd=pd.read_excel('fifa21 raw data v2.xlsx')
fd.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

# Make a copy of the Dataset

In [3]:
fd2=fd.copy()

In [4]:
fd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  datetime64[ns]
 18  Loan Date End     1013 non-null   datetime64[ns]
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: datetime64[ns](2), int64(54), object(21)
memory usage: 11.1+ MB

From the info we can see that the loan end date has a lot of missing data. We'll drop the column since we have another
column that conveys sameinformation ie the Contract column

In [5]:
fd.index

RangeIndex(start=0, stop=18979, step=1)

# Checking for missing Values

In [6]:
missing_values_count=fd.isnull().sum()
missing_values_count

ID              0
Name            0
LongName        0
photoUrl        0
playerUrl       0
             ...
PAS             0
DRI             0
DEF             0
PHY             0
Hits         2595
Length: 77, dtype: int64

In [7]:
Total_missing=missing_values_count.sum()
print(Total_missing)

20561

# Dealing with missing data

In [8]:
fd.drop('Loan Date End', axis=1, inplace=True)
fd['Hits'].fillna(0, inplace=True)

In [9]:
if fd.isnull().values.any():
    print('Null values present')
else:
    print('No Null values')

No Null values

In [10]:
fd.isnull().values.any()

False

In [11]:
fd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 76 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  datetime64[ns]
 18  Value             18979 non-null  object
 19  Wage              18979 non-null  object
 20  Release Clause    18979 non-null  object
 21  Attacking         18979 non-null  int64
 22  Crossing          18979 non-null  int64
 23  Finishing         18979 non-null  int64
 24  Heading Accuracy  18979 non-null  int64
 25  Short Passing     18979 non-null  int64
 26  Volleys           18979 non-null  int64
 27  Skill             18979 non-null  int64
 28  Dribbling         18979 non-null  int64
 29  Curve             18979 non-null  int64
 30  FK Accuracy       18979 non-null  int64
 31  Long Passing      18979 non-null  int64
 32  Ball Control      18979 non-null  int64
 33  Movement          18979 non-null  int64
 34  Acceleration      18979 non-null  int64
 35  Sprint Speed      18979 non-null  int64
 36  Agility           18979 non-null  int64
 37  Reactions         18979 non-null  int64
 38  Balance           18979 non-null  int64
 39  Power             18979 non-null  int64
 40  Shot Power        18979 non-null  int64
 41  Jumping           18979 non-null  int64
 42  Stamina           18979 non-null  int64
 43  Strength          18979 non-null  int64
 44  Long Shots        18979 non-null  int64
 45  Mentality         18979 non-null  int64
 46  Aggression        18979 non-null  int64
 47  Interceptions     18979 non-null  int64
 48  Positioning       18979 non-null  int64
 49  Vision            18979 non-null  int64
 50  Penalties         18979 non-null  int64
 51  Composure         18979 non-null  int64
 52  Defending         18979 non-null  int64
 53  Marking           18979 non-null  int64
 54  Standing Tackle   18979 non-null  int64
 55  Sliding Tackle    18979 non-null  int64
 56  Goalkeeping       18979 non-null  int64
 57  GK Diving         18979 non-null  int64
 58  GK Handling       18979 non-null  int64
 59  GK Kicking        18979 non-null  int64
 60  GK Positioning    18979 non-null  int64
 61  GK Reflexes       18979 non-null  int64
 62  Total Stats       18979 non-null  int64
 63  Base Stats        18979 non-null  int64
 64  W/F               18979 non-null  object
 65  SM                18979 non-null  object
 66  A/W               18979 non-null  object
 67  D/W               18979 non-null  object
 68  IR                18979 non-null  object
 69  PAC               18979 non-null  int64
 70  SHO               18979 non-null  int64
 71  PAS               18979 non-null  int64
 72  DRI               18979 non-null  int64
 73  DEF               18979 non-null  int64
 74  PHY               18979 non-null  int64
 75  Hits              18979 non-null  object
dtypes: datetime64[ns](1), int64(54), object(21)
memory usage: 11.0+ MB

In [12]:
fd.columns

Index(['ID', 'Name', 'LongName', 'photoUrl', 'playerUrl', 'Nationality', 'Age',
       '↓OVA', 'POT', 'Club', 'Contract', 'Positions', 'Height', 'Weight',
       'Preferred Foot', 'BOV', 'Best Position', 'Joined', 'Value', 'Wage',
       'Release Clause', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

# Drop columns that may not be needed

In [13]:
fd.drop(['playerUrl'], axis =1, inplace = True)
fd.drop('Name',axis =1, inplace=True)

In [14]:
fd.iloc[:,1:21].head(6)

,LongName,photoUrl,Nationality,Age,↓OVA,POT,Club,Contract,Positions,Height,Weight,Preferred Foot,BOV,Best Position,Joined,Value,Wage,Release Clause,Attacking,Crossing
0,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",170cm,72kg,Left,93,RW,2004-07-01,€103.5M,€560K,€138.4M,429,85
1,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",187cm,83kg,Right,92,ST,2018-07-10,€63M,€220K,€75.9M,437,84
2,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,188cm,87kg,Right,91,GK,2014-07-16,€120M,€125K,€159.4M,95,13
3,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",181cm,70kg,Right,91,CAM,2015-08-30,€129M,€370K,€161M,407,94
4,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",175cm,68kg,Right,91,LW,2017-08-03,€132M,€270K,€166.5M,408,85
5,Robert Lewandowski,https://cdn.sofifa.com/players/188/545/21_60.png,Poland,31,91,91,\n\n\n\nFC Bayern München,2014 ~ 2023,ST,184cm,80kg,Right,91,ST,2014-07-01,€111M,€240K,€132M,423,71

# Cleaning the Club column

In [15]:
def clean(column):
    return column[4:]

fd['Club'] = fd['Club'].apply(clean)

In [16]:
fd['Club'].unique()

array(['FC Barcelona', 'Juventus', 'Atlético Madrid', 'Manchester City',
       'Paris Saint-Germain', 'FC Bayern München', 'Liverpool',
       'Real Madrid', 'Chelsea', 'Tottenham Hotspur', 'Inter', 'Napoli',
       'Borussia Dortmund', 'Manchester United', 'Arsenal', 'Lazio',
       'Leicester City', 'Borussia Mönchengladbach', 'Real Sociedad',
       'Atalanta', 'Olympique Lyonnais', 'Milan', 'Villarreal CF',
       'RB Leipzig', 'Cagliari', 'Ajax', 'SL Benfica', 'AS Monaco',
       'Wolverhampton Wanderers', 'Everton', 'Fiorentina', 'FC Porto',
       'RC Celta', 'Torino', 'Sevilla FC', 'Grêmio', 'Real Betis', 'Roma',
       'Newcastle United', 'Eintracht Frankfurt', 'Valencia CF',
       'Medipol Başakşehir FK', 'Inter Miami', 'Bayer 04 Leverkusen',
       'Levante UD', 'Crystal Palace', 'Athletic Club de Bilbao',
       'Shanghai SIPG FC', 'VfL Wolfsburg',
       'Guangzhou Evergrande Taobao FC', 'Al Shabab',
       'Olympique de Marseille', 'Los Angeles FC',
       'Beijing Sinobo Guoan FC', 'Getafe CF', 'SV Werder Bremen',
       'TSG 1899 Hoffenheim', 'LOSC Lille', 'Deportivo Alavés', 'Burnley',
       'Leeds United', 'Fulham', 'PFC CSKA Moscow', 'Genoa',
       'Galatasaray SK', 'Atlanta United', 'Atlético Mineiro', 'Flamengo',
       'Palmeiras', 'lub', 'São Paulo', 'West Ham United', 'SD Eibar',
       'River Plate', 'OGC Nice', 'Real Valladolid CF', 'Sporting CP',
       'PSV', 'Feyenoord', 'Club Brugge KV', 'Shakhtar Donetsk',
       'Vissel Kobe', 'Boca Juniors', '1. FC Union Berlin',
       'Dalian YiFang FC', 'AS Saint-Étienne', 'Sassuolo',
       'Tigres U.A.N.L.', 'Dinamo Zagreb', 'Dynamo Kyiv', 'Fluminense',
       'Udinese', 'Aston Villa', 'Stade Rennais FC', 'Beşiktaş JK',
       'Brighton & Hove Albion', 'Hebei China Fortune FC', 'Southampton',
       'Lokomotiv Moscow', 'Jiangsu Suning FC', 'Al Hilal',
       'West Bromwich Albion', 'Fenerbahçe SK', 'FC Groningen',
       'Guangzhou R&F FC', 'Orlando City SC', 'Sampdoria',
       'Stade de Reims', 'Sheffield United', 'Santos', 'Internacional',
       'Coritiba', 'CA Osasuna', 'LA Galaxy', 'Al Nassr', 'SC Freiburg',
       'SC Braga', 'Olympiacos CFP', 'Toronto FC', 'Granada CF',
       'FC Schalke 04', 'RC Strasbourg Alsace', 'Hertha BSC',
       'AZ Alkmaar', 'Seattle Sounders FC', 'Montpellier HSC',
       'Shanghai Greenland Shenhua FC', 'Hamburger SV', 'Girona FC',
       'Racing Club', 'Portland Timbers', 'FC Girondins de Bordeaux',
       'Watford', 'Estudiantes de La Plata', 'Club América',
       'Vitória Guimarães', 'SK Slavia Praha', 'Trabzonspor',
       'RCD Espanyol', 'FC Nantes', 'Angers SCO', 'Cruz Azul',
       'BSC Young Boys', 'Club León', 'Spartak Moscow', 'Sivasspor',
       'Elche CF', 'FC Augsburg', 'Wuhan Zall', 'Parma',
       'Royal Antwerp FC', 'Monterrey', 'San Lorenzo de Almagro',
       'AC Monza', 'Club Atlético Lanús', 'SD Huesca', 'Derby County',
       'Kayserispor', 'RSC Anderlecht', 'CD Leganés', 'Vélez Sarsfield',
       'Stade Brestois 29', 'Tianjin TEDA FC', 'Birmingham City',
       'Hellas Verona', '1. FC Köln', 'Al Wehda', 'Bournemouth',
       'Alanyaspor', 'Bologna', 'Amiens SC', 'Celtic',
       'Shijiazhuang Ever Bright F.C.', 'Club Atlas', 'Al Ahli',
       'Norwich City', 'Fatih Karagümrük S.K.', 'Club Tijuana',
       'Universidad Católica', 'Goiás', 'Benevento', 'Independiente',
       'Qingdao Huanghai F.C.', 'Brentford', 'AEK Athens',
       'Racing Club de Lens', 'Olimpia Asunción', 'Shenzhen FC',
       'Çaykur Rizespor', 'KAA Gent', 'New England Revolution',
       'Cádiz CF', '1. FSV Mainz 05', 'Vasco da Gama', 'FC Midtjylland',
       'Al Ain FC', 'Santos Laguna', 'SPAL', 'Perth Glory', 'FC Utrecht',
       'Montreal Impact', 'UD Almería', 'Fortaleza', 'Spezia',
       'FC Basel 1893', 'FC København', 'Godoy Cruz', 'Deportivo Toluca',
       'Nacional de Montevideo', 'Aalborg BK', 'Rio Ave FC', 'FC Metz',
       'Chongqing Dangdai Lifan FC SWM Team', 'Rosenborg BK',
       'FC Red Bull Salzburg', 'Botafogo', 'DSC Arminia Bielefeld',
       'Club Athletico Paranaense', 'RCD Mallorca', 'Pachuca',
       'Swansea City', 'KRC Genk', 'En Avant de Guingamp', 'Lecce',
       'Nîmes Olympique', 'Colo-Colo', 'Stade Malherbe Caen',
       'Columbus Crew SC', 'Junior FC', 'VfB Stuttgart', 'Moreirense FC',
       'Rangers FC', 'Malmö FF', 'Shandong Luneng TaiShan FC',
       'Sparta Praha', 'Hatayspor', 'Chicago Fire',
       'Toulouse Football Club', 'FC Seoul', 'Antalyaspor',
       'Deportivo Cali', 'Kaizer Chiefs', 'Real Zaragoza',
       'Atlético Clube Goianiense', 'Puebla FC', 'Fortuna Düsseldorf',
       'Western United FC', 'Astra Giurgiu', 'Henan Jianye FC', 'Bahia',
       'Famalicão', 'Atiker Konyaspor', 'Peñarol', 'DC United',
       'New York City FC', 'Argentinos Juniors', 'U.N.A.M.',
       'Minnesota United FC', 'Nottingham Forest',
       'Independiente del Valle', 'Defensa y Justicia',
       'Philadelphia Union', "Newell's Old Boys", 'Rosario Central',
       'Atlético de San Luis', 'FC Dallas', 'Denizlispor',
       'Yeni Malatyaspor', 'Club Atlético Colón', 'Houston Dynamo',
       'Millwall', 'Clube Sport Marítimo', 'MKE Ankaragücü',
       'Guadalajara', 'Boavista FC', 'Sporting Kansas City',
       'Atlético Nacional', 'CD Lugo', 'New York Red Bulls', 'PAOK',
       'SC Heerenveen', 'Daegu FC', 'Preston North End', 'Damac FC',
       'Brescia', 'VfL Bochum 1848', 'Vancouver Whitecaps FC',
       'SV Sandhausen', 'Royal Excel Mouscron', 'Dijon FCO', 'Molde FK',
       'Panathinaikos FC', 'LASK Linz', 'Ulsan Hyundai FC',
       'Real Salt Lake', 'FC Luzern', 'Viktoria Plzeň', 'Orlando Pirates',
       'Al Ittihad', '1. FC Nürnberg', 'Standard de Liège',
       'Rayo Vallecano', 'Club Libertad', 'Jeonbuk Hyundai Motors',
       'Western Sydney Wanderers', 'Unión de Santa Fe', 'FC Sion',
       'Sydney FC', 'Hannover 96', 'Real Sporting de Gijón',
       'FC Cincinnati', 'ESTAC Troyes', 'San Jose Earthquakes',
       'Club Guaraní', 'FC Lorient', 'Gençlerbirliği SK',
       'Sporting de Charleroi', 'Wisła Kraków', 'Al Taawoun', 'Reading',
       'Gazişehir Gaziantep F.K.', 'Blackburn Rovers', 'Kashiwa Reysol',
       'FK Bodø/Glimt', 'Willem II', 'Vitesse', 'Gil Vicente FC',
       'SønderjyskE', 'Yokohama F. Marinos', 'FC St. Gallen',
       'Club Atlético Aldosivi', 'Göztepe SK', 'Holstein Kiel',
       'FC Juárez', 'FCSB (Steaua)', 'Ettifaq FC', 'KAS Eupen',
       'FC Tokyo', 'Melbourne City FC', 'Universitatea Craiova',
       'CD Tondela', 'Wolfsberger AC', 'Ceará Sporting Club',
       'River Plate Asunción', 'Stoke City', 'Paris FC', 'IFK Norrköping',
       'Crotone', 'Cardiff City', 'América de Cali', 'Al Faisaly',
       'Independiente Medellín', 'Portimonense SC', 'CD Tenerife',
       'Heracles Almelo', 'Nashville SC', 'SK Rapid Wien',
       'Kawasaki Frontale', 'Club Necaxa', 'Chievo Verona', 'Lech Poznań',
       'AIK', 'FK Austria Wien', 'Querétaro', '1. FC Heidenheim 1846',
       'Legia Warszawa', 'Club Atlético Banfield', 'Os Belenenses',
       'Huddersfield Town', 'KSV Cercle Brugge', 'LDU Quito',
       'Gimnasia y Esgrima La Plata', 'Gamba Osaka', 'Middlesbrough',
       'Servette FC', 'Empoli', 'Real Oviedo', 'Kasimpaşa SK', 'CFR Cluj',
       'Millonarios FC', 'FC Paços de Ferreira', 'Sint-Truidense VV',
       'AD Alcorcón', 'Colorado Rapids', 'Dinamo Bucureşti',
       'Cerezo Osaka', 'FC Emmen', 'Sheffield Wednesday',
       'FC Erzgebirge Aue', 'Raków Częstochowa', 'Atlético Tucumán',
       'SV Darmstadt 98', 'Bristol City', 'Oud-Heverlee Leuven',
       'Barnsley', 'Queens Park Rangers', 'Sangju Sangmu FC',
       'Helsingborgs IF', 'AC Ajaccio', 'Oceânico FC',
       'Club Atlético Talleres', 'Al Hazem', 'SC Paderborn 07',
       'Club Atlético Huracán', 'KV Kortrijk', 'El Nacional',
       'Mazatlán FC', 'Aberdeen', 'CD Mirandés', 'SV Zulte-Waregem',
       'Piast Gliwice', 'Djurgårdens IF', 'Central Córdoba',
       'Wellington Phoenix', 'Deportivo Binacional', 'Patronato',
       'SpVgg Greuther Fürth', 'IFK Göteborg', 'FC Cartagena',
       'Santa Clara', 'FC Twente', 'Farense', 'ADO Den Haag',
       'AJ Auxerre', 'Al Fateh', 'Valenciennes FC',
       'Hokkaido Consadole Sapporo', 'FC St. Pauli', 'Albacete BP',
       '1. FC Kaiserslautern', 'Al Fayha', 'Incheon United FC',
       'KV Mechelen', 'Pohang Steelers', 'CD Nacional', 'Unión La Calera',
       'BB Erzurumspor', 'Kashima Antlers', 'Arsenal de Sarandí',
       'HJK Helsinki', 'Karlsruher SC', 'Aarhus GF', 'FC Zürich',
       'Barcelona Sporting Club', 'SG Dynamo Dresden',
       'Sanfrecce Hiroshima', 'Al Raed', 'SD Ponferradina', 'Brøndby IF',
       'Lechia Gdańsk', 'FC Viitorul', 'SK Sturm Graz', 'IF Elfsborg',
       'Gangwon FC', 'Melgar FBC', 'Club Atlético Grau',
       'Jagiellonia Białystok', 'Waasland-Beveren', 'VfL Osnabrück',
       'Nagoya Grampus', 'CF Fuenlabrada', 'Shamrock Rovers',
       'Shimizu S-Pulse', 'RKC Waalwijk', 'Vålerenga Fotball',
       'Clermont Foot 63', 'FC Ingolstadt 04', 'FC Würzburger Kickers',
       'Górnik Zabrze', 'Charlton Athletic', 'Beerschot AC',
       'Coquimbo Unido', 'Viktoria Köln', 'Hull City', 'Málaga CF',
       'FC Nordsjælland', 'UD Las Palmas', 'VVV-Venlo', 'GwangJu FC',
       'Chamois Niortais Football Club', 'FC Lugano', 'Cusco FC',
       'Sparta Rotterdam', 'Sol de América', 'PEC Zwolle',
       'Pogoń Szczecin', 'Doncaster Rovers', 'Kristiansund BK',
       'Liverpool Fútbol Club', 'Club Bolívar', 'Urawa Red Diamonds',
       'SK Brann', 'Eintracht Braunschweig', 'Nacional Asunción',
       'Melbourne Victory', 'Kilmarnock', 'Dundalk',
       'SSV Jahn Regensburg', 'Abha Club', 'Club Atlético Tigre',
       'Suwon Samsung Bluewings', 'Shonan Bellmare', 'SD Aucas', 'Emelec',
       'Fortuna Sittard', 'La Berrichonne de Châteauroux',
       'Śląsk Wrocław', 'Coventry City', 'Sunderland', 'Alianza Lima',
       'Hammarby IF', 'Cracovia', 'CE Sabadell FC', 'Oita Trinita',
       'BK Häcken', 'Luton Town', 'Le Havre AC', 'IK Sirius',
       'Zagłębie Lubin', 'Grenoble Foot 38', 'Macarthur FC',
       'Rodez Aveyron Football', 'Vegalta Sendai', 'Motherwell',
       'SV Wehen Wiesbaden', 'Audax Italiano', 'Gaz Metan Mediaş',
       'Portsmouth', 'Hibernian', 'Always Ready', 'UD Logroñés',
       'FC Voluntari', 'FC Hermannstadt', 'AS Nancy Lorraine',
       'Rotherham United', 'Fleetwood Town', 'Jorge Wilstermann',
       'Odense Boldklub', 'MSV Duisburg', 'FC Sochaux-Montbéliard',
       'Milton Keynes Dons', 'River Plate Montevideo', 'Delfín SC',
       'Universidad Católica del Ecuador', 'Deportivo Pasto',
       'KV Oostende', 'Club Plaza Colonia', 'Wigan Athletic',
       'FC Botoşani', 'C.D. Castellón', 'SCR Altach', 'Örebro SK',
       'TSV Hartberg', 'Stabæk Fotball', 'Wycombe Wanderers',
       'St. Johnstone FC', 'Oxford United', 'Lincoln City', 'Randers FC',
       'Viking FK', 'FC Chambly Oise', 'Dundee United',
       'Oriente Petrolero', 'Odds BK', 'Nacional Potosí', 'Sepsi OSK',
       'FC Hansa Rostock', 'Lyngby BK', 'SpVgg Unterhaching',
       'Brisbane Roar', 'Seongnam FC', 'SV Ried', 'CD Huachipato',
       'WSG Tirol', 'Podbeskidzie Bielsko-Biała', 'Peterborough United',
       'Club Blooming', 'Wisła Płock', 'Busan IPark', 'FSV Zwickau',
       'Mjøndalen IF', 'Vejle Boldklub', 'Pau FC', 'FC Lausanne-Sport',
       'Estudiantes de Mérida', 'Sagan Tosu', 'SV Waldhof Mannheim',
       'Sport Huancayo', 'Hallescher FC', 'Kalmar FF', 'St. Mirren',
       'SKN St. Pölten', 'Sarpsborg 08 FF', 'Shrewsbury',
       'TSV 1860 München', 'SV Meppen', 'Ipswich Town', 'IK Start',
       'Adelaide United', 'Stal Mielec', 'Centro Atlético Fénix',
       'Newcastle Jets', 'Livingston FC', 'AC Mineros de Guayana',
       'AFC Wimbledon', 'Burton Albion', 'Al Adalah', 'Warta Poznań',
       'USL Dunkerque', 'Bristol Rovers', 'UTA Arad', 'Östersunds FK',
       'Sportivo Luqueño', 'Politehnica Iaşi', 'Salford City',
       'Central Coast Mariners', 'Caracas FC', 'AC Horsens',
       'Plymouth Argyle', 'Aalesunds FK', 'Crewe Alexandra',
       'Chindia Târgovişte', 'Oldham Athletic', 'Yokohama FC',
       'Blackpool', 'Northampton Town', 'Bayern München II',
       'FK Haugesund', 'KFC Uerdingen 05', 'Forest Green Rovers',
       'Cheltenham Town', 'Strømsgodset IF', 'Mjällby AIF', 'Exeter City',
       'Cambridge United', 'Grimsby Town', 'FC Vaduz', 'Türkgücü München',
       'VfB Lübeck', 'Bolton Wanderers', 'Bradford City',
       '1. FC Magdeburg', 'FC Admira Wacker Mödling',
       'Hamilton Academical FC', 'Aragua FC', 'Accrington Stanley',
       'Swindon Town', 'Carlisle United', 'FC Argeș', 'Port Vale',
       'Academica Clinceni', 'Rochdale', 'Gillingham', 'Tranmere Rovers',
       'Southend United', '1. FC Saarbrücken', 'Colchester United',
       'Mansfield Town', 'Falkenbergs FF', 'SC Verl', 'Varbergs BoIS',
       'Crawley Town', 'Sandefjord Fotball', 'Newport County',
       'Bohemian FC', 'Ross County FC', 'Scunthorpe United', 'Morecambe',
       'Walsall', 'Leyton Orient', 'Stevenage', 'Barrow', 'Derry City',
       'Llaneros de Guanare', 'Sligo Rovers', 'Zamora FC',
       "St. Patrick's Athletic", 'Cork City', 'Shelbourne FC',
       'Harrogate Town', 'Waterford FC', 'Finn Harps'], dtype=object)

# Renaming columns more appropraitely

In [17]:

fd.rename(columns={'↓OVA':'OVA'}, inplace=True)
fd.rename(columns={'LongName':'Full_name'}, inplace=True)

In [18]:
fd.head(1)

,ID,Full_name,photoUrl,Nationality,Age,OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,Argentina,33,93,93,FC Barcelona,2004 ~ 2021,"RW, ST, CF",...,Medium,Low,5 ★,85,92,91,95,38,65,771

# Checking the contract column

In [19]:
fd['Contract'].unique()

array(['2004 ~ 2021', '2018 ~ 2022', '2014 ~ 2023', '2015 ~ 2023',
       '2017 ~ 2022', '2017 ~ 2023', '2018 ~ 2024', '2014 ~ 2022',
       '2018 ~ 2023', '2016 ~ 2023', '2013 ~ 2023', '2011 ~ 2023',
       '2009 ~ 2022', '2005 ~ 2021', '2011 ~ 2021', '2015 ~ 2022',
       '2017 ~ 2024', '2010 ~ 2024', '2012 ~ 2021', '2019 ~ 2024',
       '2015 ~ 2024', '2017 ~ 2025', '2020 ~ 2025', '2019 ~ 2023',
       '2008 ~ 2023', '2015 ~ 2021', '2020 ~ 2022', '2012 ~ 2022',
       '2016 ~ 2025', '2013 ~ 2022', '2011 ~ 2022', '2012 ~ 2024',
       '2016 ~ 2021', '2012 ~ 2023', '2008 ~ 2022', '2019 ~ 2022',
       '2017 ~ 2021', '2013 ~ 2024', '2020 ~ 2024', '2010 ~ 2022',
       '2020 ~ 2021', '2011 ~ 2024', '2020 ~ 2023', '2014 ~ 2024',
       '2013 ~ 2026', '2016 ~ 2022', '2010 ~ 2021', '2013 ~ 2021',
       '2019 ~ 2025', '2018 ~ 2025', '2016 ~ 2024', '2018 ~ 2021',
       '2009 ~ 2024', '2007 ~ 2022', 'Jun 30, 2021 On Loan',
       '2009 ~ 2021', '2019 ~ 2021', '2019 ~ 2026', 'Free', '2012 ~ 2028',
       '2010 ~ 2023', '2014 ~ 2021', '2015 ~ 2025', '2014 ~ 2026',
       '2012 ~ 2025', '2017 ~ 2020', '2002 ~ 2022', '2020 ~ 2027',
       '2013 ~ 2025', 'Dec 31, 2020 On Loan', '2019 ~ 2020',
       '2011 ~ 2025', '2016 ~ 2020', '2007 ~ 2021', '2020 ~ 2026',
       '2010 ~ 2025', '2009 ~ 2023', '2008 ~ 2021', '2020 ~ 2020',
       '2016 ~ 2026', 'Jan 30, 2021 On Loan', '2012 ~ 2020',
       '2014 ~ 2025', 'Jun 30, 2022 On Loan', '2015 ~ 2020',
       'May 31, 2021 On Loan', '2018 ~ 2020', '2014 ~ 2020',
       '2013 ~ 2020', '2006 ~ 2024', 'Jul 5, 2021 On Loan',
       'Dec 31, 2021 On Loan', '2004 ~ 2025', '2011 ~ 2020',
       'Jul 1, 2021 On Loan', 'Jan 1, 2021 On Loan', '2006 ~ 2023',
       'Aug 31, 2021 On Loan', '2006 ~ 2021', '2005 ~ 2023',
       '2003 ~ 2020', '2009 ~ 2020', '2002 ~ 2020', '2005 ~ 2020',
       '2005 ~ 2022', 'Jan 31, 2021 On Loan', '2010 ~ 2020',
       'Dec 30, 2021 On Loan', '2008 ~ 2020', '2007 ~ 2020',
       '2003 ~ 2021', 'Jun 23, 2021 On Loan', 'Jan 3, 2021 On Loan',
       'Nov 27, 2021 On Loan', '2002 ~ 2021', 'Jan 17, 2021 On Loan',
       'Jun 30, 2023 On Loan', '1998 ~ 2021', '2003 ~ 2022',
       '2007 ~ 2023', 'Jul 31, 2021 On Loan', 'Nov 22, 2020 On Loan',
       'May 31, 2022 On Loan', '2006 ~ 2020', 'Dec 30, 2020 On Loan',
       '2007 ~ 2025', 'Jan 4, 2021 On Loan', 'Nov 30, 2020 On Loan',
       '2004 ~ 2020', '2009 ~ 2025', 'Aug 1, 2021 On Loan'], dtype=object)

From the contract column, we can see that there are different categories of data. some players are on contract, some players 
are on loan , while some players are neither on loan nor on contract.
I will change it to a categorical data.
If player is on loan it will return "On loan", if on contract it
will return "Contract_Active", if player is not on contract it will return "No contract"

# Work on the contract column & Change column name

In [20]:
def contract(x):
    if 'On Loan' in x:
        return 'On Loan'
    elif'~' in x:
        return 'Contract_active'
    elif 'Free' in x:
        return 'Free'

In [21]:
fd['Contract']=fd['Contract'].apply(contract)

In [22]:
fd['Contract'].unique()

array(['Contract_active', 'On Loan', 'Free'], dtype=object)

# Rename the contract column

In [23]:
fd.rename(columns={'Contract':'Contract_status'}, inplace=True)

In [24]:
fd.iloc[:6,1:21]

,Full_name,photoUrl,Nationality,Age,OVA,POT,Club,Contract_status,Positions,Height,Weight,Preferred Foot,BOV,Best Position,Joined,Value,Wage,Release Clause,Attacking,Crossing
0,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,Argentina,33,93,93,FC Barcelona,Contract_active,"RW, ST, CF",170cm,72kg,Left,93,RW,2004-07-01,€103.5M,€560K,€138.4M,429,85
1,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,Portugal,35,92,92,Juventus,Contract_active,"ST, LW",187cm,83kg,Right,92,ST,2018-07-10,€63M,€220K,€75.9M,437,84
2,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,Slovenia,27,91,93,Atlético Madrid,Contract_active,GK,188cm,87kg,Right,91,GK,2014-07-16,€120M,€125K,€159.4M,95,13
3,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,Belgium,29,91,91,Manchester City,Contract_active,"CAM, CM",181cm,70kg,Right,91,CAM,2015-08-30,€129M,€370K,€161M,407,94
4,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,Brazil,28,91,91,Paris Saint-Germain,Contract_active,"LW, CAM",175cm,68kg,Right,91,LW,2017-08-03,€132M,€270K,€166.5M,408,85
5,Robert Lewandowski,https://cdn.sofifa.com/players/188/545/21_60.png,Poland,31,91,91,FC Bayern München,Contract_active,ST,184cm,80kg,Right,91,ST,2014-07-01,€111M,€240K,€132M,423,71

# cleaning the height and weight columns

In [25]:
fd['Height'].unique()

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '6\'2"', '164cm', '198cm', '6\'3"', '6\'5"', '5\'11"',
       '6\'4"', '6\'1"', '6\'0"', '5\'10"', '5\'9"', '5\'6"', '5\'7"',
       '5\'4"', '201cm', '158cm', '162cm', '161cm', '160cm', '203cm',
       '157cm', '156cm', '202cm', '159cm', '206cm', '155cm'], dtype=object)

In [26]:
def conv_height(x):
    if x[-1]=='"':
        x=x.replace("\"","")
        inch=int(x[2:])*2.54
        foot=int(x[0])*30.48
        return int(foot+inch)
    elif x[-1]=='m':
        return int(x[:-2])

In [27]:
fd['Height']=fd['Height'].apply(conv_height)

In [28]:
fd['Height'].unique()

array([170, 187, 188, 181, 175, 184, 191, 178, 193, 185, 199, 173, 168,
       176, 177, 183, 180, 189, 179, 195, 172, 182, 186, 192, 165, 194,
       167, 196, 163, 190, 174, 169, 171, 197, 200, 166, 164, 198, 162,
       201, 158, 161, 160, 203, 157, 156, 202, 159, 206, 155], dtype=int64)

In [29]:
fd['Height'].nunique()

50

In [30]:
def conv_weight(x):
    if x[-1]=='"':
        x=x.replace("\"","")
        inch=int(x[2:])*2.54
        foot=int(x[0])*30.48
        return int(foot+inch)
    elif x[-1]=='m':
        return int(x[:-2])

In [31]:
fd.rename(columns={'Height':'Height(cm)'}, inplace= True)

In [32]:
fd.head(1)

,ID,Full_name,photoUrl,Nationality,Age,OVA,POT,Club,Contract_status,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,Argentina,33,93,93,FC Barcelona,Contract_active,"RW, ST, CF",...,Medium,Low,5 ★,85,92,91,95,38,65,771

In [33]:
#fd['Height']=fd['Height'].str.replace('cm','').astype(int)
#fd['Weight']=fd['Weight'].str.replace('kg','').astype(int)

In [34]:
fd['Weight'].unique()

array(['72kg', '83kg', '87kg', '70kg', '68kg', '80kg', '71kg', '91kg',
       '73kg', '85kg', '92kg', '69kg', '84kg', '96kg', '81kg', '82kg',
       '75kg', '86kg', '89kg', '74kg', '76kg', '64kg', '78kg', '90kg',
       '66kg', '60kg', '94kg', '79kg', '67kg', '65kg', '59kg', '61kg',
       '93kg', '88kg', '97kg', '77kg', '62kg', '63kg', '95kg', '100kg',
       '58kg', '183lbs', '179lbs', '172lbs', '196lbs', '176lbs', '185lbs',
       '170lbs', '203lbs', '168lbs', '161lbs', '146lbs', '130lbs',
       '190lbs', '174lbs', '148lbs', '165lbs', '159lbs', '192lbs',
       '181lbs', '139lbs', '154lbs', '157lbs', '163lbs', '98kg', '103kg',
       '99kg', '102kg', '56kg', '101kg', '57kg', '55kg', '104kg', '107kg',
       '110kg', '53kg', '50kg', '54kg', '52kg'], dtype=object)

In [35]:
def conv_weight(y):
    if 'lbs'in y:
        y=y.replace('lbs','')
        y=float(y)*0.453592
        y=int(y)
        return y
    else:
        return int(y[:-2])

In [36]:
fd['Weight']=fd['Weight'].apply(conv_weight)

In [37]:
fd['Weight'].unique()

array([ 72,  83,  87,  70,  68,  80,  71,  91,  73,  85,  92,  69,  84,
        96,  81,  82,  75,  86,  89,  74,  76,  64,  78,  90,  66,  60,
        94,  79,  67,  65,  59,  61,  93,  88,  97,  77,  62,  63,  95,
       100,  58,  98, 103,  99, 102,  56, 101,  57,  55, 104, 107, 110,
        53,  50,  54,  52], dtype=int64)

In [38]:
fd.rename(columns={'Weight':'Weight(kg)'},inplace=True)

# Checking other columns

In [39]:
#Preferred foot column is okay
fd['Preferred Foot'].unique()

array(['Left', 'Right'], dtype=object)

In [40]:
#BOV, Best Position, Attacking, crossing, Finishing, Head Accuracy, Short Passing, Volleys, Skill columns are okay
fd['BOV'].unique()

array([93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77,
       76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60,
       59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48], dtype=int64)

In [41]:
fd['Best Position'].unique()

array(['RW', 'ST', 'GK', 'CAM', 'LW', 'CB', 'CDM', 'CF', 'CM', 'RB', 'LB',
       'LM', 'RM', 'LWB', 'RWB'], dtype=object)

In [42]:
fd['Attacking'].unique()

array([429, 437,  95, 407, 408, 423, 392, 114, 118, 316, 410, 349,  86,
       119, 426, 374, 411, 360, 328, 383, 405, 123, 420, 224, 388, 397,
       425, 373, 365, 371, 311, 396, 345, 399, 400,  78, 280, 330, 403,
       379, 380,  94, 394, 419, 339, 293, 344, 390,  84, 359, 372, 377,
       346, 389, 386, 308, 277, 382, 368, 402, 292, 298, 366, 352, 363,
       322, 361,  91, 364, 341, 385, 355, 305, 321, 262,  93, 375, 387,
       356, 253, 285, 391, 353, 367,  90, 295, 378, 256, 338, 331,  69,
       105,  85, 358, 343, 319, 271, 113, 350, 406, 340, 393, 247, 334,
       351, 342, 302, 329, 354,  98, 301, 115, 384, 208,  72, 376,  92,
       258, 362,  74, 417,  99, 263,  88, 279, 101, 395, 100,  81,  87,
        55, 310,  82, 117, 409, 318, 323, 248, 315, 381, 348, 327, 309,
       130, 283, 336, 369, 106, 252, 320, 290, 370, 126, 251, 108, 335,
       297, 284,  80,  75, 357, 270,  97, 306, 337,  73, 286, 325, 326,
       324, 333, 103, 259, 273, 313, 296,  61, 312, 347, 401, 304, 278,
        83,  43, 314, 291, 264, 272, 317, 231, 250, 268,  54, 261, 255,
        70, 281, 265, 299, 287,  68, 294,  77, 219, 300, 269, 332, 289,
       288, 107, 282, 122, 244,  89, 112, 274, 276, 307, 229,  96, 109,
        76, 125, 102, 239, 227, 241, 257, 254, 228, 233, 124, 215, 246,
       110, 245, 214, 242, 266, 104,  66, 303, 260,  63, 230, 275,  50,
       238, 249, 111,  67, 240, 221, 237,  56, 235, 234, 243, 267, 232,
       203, 223,  64, 213, 222, 226, 225, 211, 207,  52, 173,  57, 217,
       236,  71, 204, 216, 199,  59, 189,  60, 194, 116, 205, 201, 193,
        65, 192, 209, 218, 128, 210,  79,  45, 206, 162, 220,  49, 197,
       202, 212,  58, 190, 181,  51,  62, 200, 198, 195, 191, 131, 185,
        42, 180, 182, 196, 188, 169, 187, 178,  53, 183, 184, 186, 165,
       172,  47, 171, 176, 159,  46, 179, 175, 167, 174, 161, 170, 177,
       164, 134, 168, 163, 166, 158, 150, 143,  48, 152, 160, 148, 151,
       157, 154, 141, 146, 147, 149, 156, 153, 138, 145, 142, 139, 155,
       144, 136, 137], dtype=int64)

In [43]:
fd['Finishing'].unique()

array([95, 11, 82, 87, 94, 91, 13, 14, 52, 90, 64, 88, 65, 85, 66, 84, 10,
       22, 76, 81, 56, 79, 57, 45, 77, 63, 86, 80, 15, 33, 67, 12, 72, 92,
       93, 51, 46, 60, 75, 55, 73, 83, 50, 42, 39, 40,  9, 68, 48, 37, 70,
       78, 69,  8, 53, 89, 25, 62, 71, 74, 44, 26, 19, 32, 18, 61, 58, 30,
       54, 36, 29, 16, 38, 59, 27, 34, 47, 20, 31, 49, 43, 41, 28,  5,  7,
        6, 21, 17, 35, 23, 24,  4,  3], dtype=int64)

In [44]:
fd['Volleys'].unique()

array([88, 86, 13, 82, 87, 89, 79, 20, 83, 14, 45, 75, 63, 12, 11, 69, 67,
       56, 18, 85, 62, 70, 32, 40, 47, 81, 44, 84, 78, 76, 90, 49, 42, 64,
       57, 60,  8, 72, 71, 59, 74, 80, 73, 37, 31, 38, 61, 10, 77, 68, 58,
       66, 30, 33, 65, 27, 51, 15, 16, 50, 43, 35, 24, 17, 34, 28,  9, 39,
       52, 46, 22, 19, 53, 55, 48, 54, 23,  5, 41, 25, 21, 36, 26, 29,  6,
        7,  4,  3], dtype=int64)

In [45]:
fd.iloc[:,10:25].head()

,Height(cm),Weight(kg),Preferred Foot,BOV,Best Position,Joined,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys
0,170,72,Left,93,RW,2004-07-01,€103.5M,€560K,€138.4M,429,85,95,70,91,88
1,187,83,Right,92,ST,2018-07-10,€63M,€220K,€75.9M,437,84,95,90,82,86
2,188,87,Right,91,GK,2014-07-16,€120M,€125K,€159.4M,95,13,11,15,43,13
3,181,70,Right,91,CAM,2015-08-30,€129M,€370K,€161M,407,94,82,55,94,82
4,175,68,Right,91,LW,2017-08-03,€132M,€270K,€166.5M,408,85,87,62,87,87

In [46]:
fd.iloc[:,26:40].head(6)

,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping
0,96,93,94,91,96,451,91,80,91,94,95,389,86,68
1,88,81,76,77,92,431,87,91,87,95,71,444,94,95
2,12,13,14,40,30,307,43,60,67,88,49,268,59,78
3,88,85,83,93,92,398,77,76,78,91,76,408,91,63
4,95,88,89,81,95,453,94,89,96,91,83,357,80,62
5,85,79,85,70,88,407,77,78,77,93,82,420,89,84

In [47]:
fd.iloc[:,41:].head()

,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,69,94,347,44,40,93,95,75,96,91,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,78,93,353,63,29,95,82,84,95,84,...,High,Low,5 ★,89,93,81,89,35,77,562
2,78,12,140,34,19,11,65,11,68,57,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,74,91,408,76,66,88,94,84,91,186,...,High,High,4 ★,76,86,93,88,64,78,207
4,50,84,356,51,36,87,90,92,93,94,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [48]:
fd['A/W'].unique()

array(['Medium', 'High', 'Low'], dtype=object)

In [49]:
fd['D/W'].unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [50]:
fd.iloc[:,41:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 33 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Strength         18979 non-null  int64
 1   Long Shots       18979 non-null  int64
 2   Mentality        18979 non-null  int64
 3   Aggression       18979 non-null  int64
 4   Interceptions    18979 non-null  int64
 5   Positioning      18979 non-null  int64
 6   Vision           18979 non-null  int64
 7   Penalties        18979 non-null  int64
 8   Composure        18979 non-null  int64
 9   Defending        18979 non-null  int64
 10  Marking          18979 non-null  int64
 11  Standing Tackle  18979 non-null  int64
 12  Sliding Tackle   18979 non-null  int64
 13  Goalkeeping      18979 non-null  int64
 14  GK Diving        18979 non-null  int64
 15  GK Handling      18979 non-null  int64
 16  GK Kicking       18979 non-null  int64
 17  GK Positioning   18979 non-null  int64
 18  GK Reflexes      18979 non-null  int64
 19  Total Stats      18979 non-null  int64
 20  Base Stats       18979 non-null  int64
 21  W/F              18979 non-null  object
 22  SM               18979 non-null  object
 23  A/W              18979 non-null  object
 24  D/W              18979 non-null  object
 25  IR               18979 non-null  object
 26  PAC              18979 non-null  int64
 27  SHO              18979 non-null  int64
 28  PAS              18979 non-null  int64
 29  DRI              18979 non-null  int64
 30  DEF              18979 non-null  int64
 31  PHY              18979 non-null  int64
 32  Hits             18979 non-null  object
dtypes: int64(27), object(6)
memory usage: 4.8+ MB

# Let us clean the Value, Wage and Release Clause

In [51]:
fd['Value']=fd['Value'].str.strip('€')

In [52]:
fd['Value']=fd['Value'].astype(str)

def val(b):
    if 'K' in b:
        b= b.replace('K','')
        b= float(b)
        b=int(b)*1000
        return b
    elif 'M' in b:
        b=b.replace('M','')
        b=float(b)
        b=int(b)*1000000
        return b
    else:
        b=b
        return b
        
fd['Value']=fd['Value'].apply(val)

In [53]:
fd['Value'].head()

0    103000000
1     63000000
2    120000000
3    129000000
4    132000000
Name: Value, dtype: object

In [54]:
fd['Wage']=fd['Wage'].str.strip('€')
fd['Wage']=fd['Wage'].astype(str)
fd['Wage']=fd['Wage'].apply(val)

In [55]:
fd['Release Clause']=fd['Release Clause'].str.strip('€')
fd['Release Clause']=fd['Release Clause'].astype(str)
fd['Release Clause']=fd['Release Clause'].apply(val)

In [56]:
fd['Release Clause'].head()

0    138000000
1     75000000
2    159000000
3    161000000
4    166000000
Name: Release Clause, dtype: object

# Change Value, Wage and Release Clause columns to int datatypes

In [57]:
fd['Release Clause']=pd.to_numeric(fd['Release Clause'], errors='coerce')
#fd['Wage']=fd['Wage'].astype('Int64')
#fd['Value']=fd['Value'].astype('Int64')

In [58]:
fd['Release Clause'].head()

0    138000000.0
1     75000000.0
2    159000000.0
3    161000000.0
4    166000000.0
Name: Release Clause, dtype: float64

In [59]:
fd['Release Clause'].isnull().sum()

1261

In [60]:
fd['Wage'].head()

0    560000
1    220000
2    125000
3    370000
4    270000
Name: Wage, dtype: object

In [61]:
fd['Value'].head()

0    103000000
1     63000000
2    120000000
3    129000000
4    132000000
Name: Value, dtype: object

fd['value']=pd.to_numeric(fd['Value'], errors='coerce')
fd['Wage']=pd.to_numeric(fd['Wage'], errors='coerce')
fd['Release Clause']=pd.to_numeric(fd['Release Clause'], errors='coerce')

fd['Wage']=fd['Wage'].astype(str)

def val(b):
    if 'K' in b:
        b= b.replace('K','')
        b= float(b)
        b=int(b)*1000
        return b
    else:
        b=b
        return b
        
        
fd['Wage']=fd['Wage'].apply(val)

In [62]:
fd['Wage'].head()

0    560000
1    220000
2    125000
3    370000
4    270000
Name: Wage, dtype: object

In [63]:
fd['Wage']=pd.to_numeric(fd['Wage'], errors='coerce')

In [64]:
fd['Release Clause'].unique()

array([1.38e+08, 7.50e+07, 1.59e+08, 1.61e+08, 1.66e+08, 1.32e+08,
       1.44e+08, 1.20e+08, 2.03e+08, 1.47e+08, 1.45e+08, 1.22e+08,
       1.19e+08, 4.70e+07, 1.08e+08, 5.00e+07, 9.80e+07, 1.39e+08,
       9.60e+07, 1.12e+08, 1.03e+08, 1.40e+08, 2.70e+07, 8.50e+07,
       1.18e+08, 1.15e+08, 1.02e+08, 1.07e+08, 1.24e+08, 1.04e+08,
       9.90e+07, 2.50e+07, 7.70e+07, 5.60e+07, 7.20e+07, 6.40e+07,
       5.10e+07, 8.20e+07, 6.90e+07, 5.90e+07, 5.30e+07, 4.30e+07,
       4.80e+07, 5.80e+07, 6.50e+07, 6.70e+07, 8.40e+07, 8.70e+07,
       9.50e+07, 9.10e+07, 7.90e+07, 1.11e+08, 7.80e+07, 8.10e+07,
       8.80e+07, 8.60e+07, 9.40e+07, 9.70e+07, 6.30e+07, 5.40e+07,
       2.10e+07, 6.60e+07, 5.20e+07, 6.80e+07, 4.40e+07, 2.90e+07,
       4.00e+07, 2.40e+07, 5.70e+07, 7.60e+07, 7.10e+07, 6.10e+07,
       7.30e+07, 7.00e+07, 3.80e+07, 6.20e+07, 4.20e+07, 3.20e+07,
       4.50e+07, 1.70e+07, 4.60e+07, 2.80e+07, 3.60e+07, 3.70e+07,
       2.30e+07, 4.90e+07, 6.00e+07, 5.50e+07, 3.10e+07, 3.50e+07,
       1.80e+07, 4.10e+07, 3.30e+07, 3.90e+07, 3.40e+07,      nan,
       1.30e+07, 1.60e+07, 3.00e+07, 3.00e+06, 1.90e+07, 2.60e+07,
       1.50e+07, 2.20e+07, 7.00e+06, 2.00e+07, 9.00e+06, 1.10e+07,
       1.40e+07, 1.00e+07, 6.00e+06, 1.20e+07, 8.00e+06, 2.00e+06,
       4.00e+06, 5.00e+06, 1.00e+06, 9.78e+05, 9.49e+05, 7.60e+05,
       8.00e+05, 6.00e+05, 5.60e+05, 8.80e+05, 7.88e+05, 9.98e+05,
       9.45e+05, 5.85e+05, 4.55e+05, 5.53e+05, 6.83e+05, 9.06e+05,
       3.24e+05, 7.13e+05, 8.78e+05, 3.48e+05, 7.50e+05, 8.20e+05,
       9.75e+05, 4.32e+05, 6.80e+05, 6.16e+05, 3.60e+05, 8.08e+05,
       6.40e+05, 5.43e+05, 9.26e+05, 9.38e+05, 4.38e+05, 5.08e+05,
       8.25e+05, 8.34e+05, 2.52e+05, 8.91e+05, 6.89e+05, 8.44e+05,
       4.05e+05, 7.19e+05, 3.06e+05, 2.90e+05, 3.42e+05, 4.80e+05,
       5.94e+05, 3.58e+05, 9.10e+05, 2.10e+05, 3.78e+05, 6.88e+05,
       6.18e+05, 1.49e+05, 7.75e+05, 3.68e+05, 4.71e+05, 6.41e+05,
       2.84e+05, 4.26e+05, 7.09e+05, 9.00e+05, 5.04e+05, 1.87e+05,
       4.20e+05, 6.60e+05, 5.63e+05, 7.25e+05, 9.79e+05, 9.68e+05,
       5.78e+05, 5.40e+05, 6.38e+05, 3.57e+05, 9.43e+05, 8.75e+05,
       8.06e+05, 3.85e+05, 9.50e+05, 6.75e+05, 7.98e+05, 8.40e+05,
       4.52e+05, 4.39e+05, 4.65e+05, 5.44e+05, 9.69e+05, 8.79e+05,
       6.65e+05, 4.09e+05, 8.13e+05, 5.25e+05, 9.11e+05, 7.36e+05,
       8.55e+05, 6.25e+05, 3.99e+05, 4.88e+05, 3.87e+05, 3.05e+05,
       5.20e+05, 1.80e+05, 5.00e+05, 7.44e+05, 5.16e+05, 2.76e+05,
       8.53e+05, 6.50e+05, 7.76e+05, 8.70e+05, 3.12e+05, 7.65e+05,
       5.80e+05, 8.60e+05, 1.22e+05, 5.31e+05, 8.05e+05, 1.53e+05,
       2.08e+05, 9.20e+05, 1.31e+05, 4.06e+05, 4.18e+05, 1.74e+05,
       7.15e+05, 5.74e+05, 9.63e+05, 6.56e+05, 3.44e+05, 1.58e+05,
       3.30e+05, 2.43e+05, 7.00e+05, 3.96e+05, 9.60e+05, 9.90e+05,
       2.00e+05, 3.00e+05, 5.69e+05, 3.75e+05, 5.91e+05, 7.48e+05,
       9.03e+05, 8.63e+05, 1.13e+05, 4.68e+05, 9.62e+05, 8.10e+05,
       3.23e+05, 7.53e+05, 2.40e+05, 2.63e+05, 6.48e+05, 2.41e+05,
       2.16e+05, 9.61e+05, 7.61e+05, 6.13e+05, 9.30e+05, 3.91e+05,
       8.31e+05, 8.14e+05, 7.81e+05, 4.69e+05, 6.53e+05, 3.01e+05,
       6.99e+05, 7.43e+05, 8.94e+05, 1.20e+05, 9.91e+05, 6.20e+05,
       2.21e+05, 4.95e+05, 7.80e+05, 1.63e+05, 1.16e+05, 3.45e+05,
       2.03e+05, 2.80e+05, 8.61e+05, 4.81e+05, 2.18e+05, 9.15e+05,
       6.01e+05, 9.19e+05, 5.06e+05, 3.34e+05, 8.45e+05, 3.19e+05,
       5.23e+05, 7.29e+05, 5.70e+05, 1.09e+05, 4.54e+05, 2.50e+05,
       3.80e+05, 9.14e+05, 9.35e+05, 4.08e+05, 1.96e+05, 7.62e+05,
       6.96e+05, 7.70e+05, 4.35e+05, 9.94e+05, 3.38e+05, 7.01e+05,
       2.70e+05, 2.55e+05, 9.53e+05, 9.59e+05, 8.28e+05, 8.93e+05,
       9.76e+05, 2.64e+05, 7.84e+05, 2.97e+05, 1.60e+05, 4.44e+05,
       9.28e+05, 2.34e+05, 6.59e+05, 1.76e+05, 8.66e+05, 9.84e+05,
       5.81e+05, 1.89e+05, 8.19e+05, 7.20e+05, 8.77e+05, 8.01e+05,
       2.25e+05, 6.45e+05, 3.71e+05, 7.86e+05, 3.13e+05, 9.08e+05,
       2.98e+05, 2.88e+05, 4.40e+05, 2.13e+05, 3.63e+05, 2.61e+05,
       9.71e+05, 1.38e+05, 8.89e+05, 3.50e+05, 6.77e+05, 5.36e+05,
       6.98e+05, 9.58e+05, 8.27e+05, 1.08e+05, 3.10e+05, 7.30e+04,
       6.30e+04, 2.38e+05, 7.63e+05, 1.75e+05, 3.88e+05, 9.86e+05,
       8.38e+05, 4.73e+05, 7.95e+05, 8.39e+05, 9.21e+05, 9.32e+05,
       8.67e+05, 2.57e+05, 3.52e+05, 1.55e+05, 4.30e+05, 9.96e+05,
       3.33e+05, 6.63e+05, 5.96e+05, 7.74e+05, 2.48e+05, 2.58e+05,
       1.50e+05, 5.38e+05, 4.03e+05, 7.31e+05, 6.08e+05, 7.00e+04,
       7.35e+05, 9.34e+05, 2.32e+05, 3.04e+05, 6.86e+05, 4.97e+05,
       2.75e+05, 6.19e+05, 9.13e+05, 6.66e+05, 6.80e+04, 9.88e+05,
       6.10e+04, 8.21e+05, 8.30e+05, 7.99e+05, 1.72e+05, 1.94e+05,
       5.30e+05, 6.29e+05, 8.88e+05, 6.30e+05, 7.24e+05, 6.06e+05,
       2.45e+05, 5.84e+05, 1.25e+05, 2.59e+05, 5.34e+05, 4.50e+05,
       1.04e+05, 5.72e+05, 8.43e+05, 3.72e+05, 5.60e+04, 5.55e+05,
       5.50e+05, 8.90e+05, 8.50e+05, 8.11e+05, 3.11e+05, 9.46e+05,
       9.70e+04, 4.90e+05, 1.00e+05, 1.40e+05, 9.56e+05, 1.35e+05,
       4.13e+05, 7.70e+04, 8.48e+05, 7.54e+05, 2.72e+05, 7.72e+05,
       4.64e+05, 3.26e+05, 4.99e+05, 1.88e+05, 7.78e+05, 3.98e+05,
       7.10e+05, 6.69e+05, 2.28e+05, 9.80e+04, 6.84e+05, 9.40e+05,
       7.30e+05, 3.41e+05, 6.74e+05, 3.66e+05, 6.10e+05, 5.28e+05,
       4.63e+05, 1.93e+05, 4.28e+05, 4.29e+05, 1.45e+05, 6.39e+05,
       4.31e+05, 4.96e+05, 2.02e+05, 7.23e+05, 3.14e+05, 9.24e+05,
       7.12e+05, 5.48e+05, 3.15e+05, 5.93e+05, 5.86e+05, 4.60e+04,
       6.12e+05, 2.37e+05, 4.23e+05, 5.12e+05, 8.70e+04, 5.10e+05,
       6.94e+05, 2.15e+05, 8.82e+05, 1.51e+05, 5.40e+04, 7.40e+05,
       4.40e+04, 7.79e+05, 6.90e+05, 2.47e+05, 7.22e+05, 3.64e+05,
       9.67e+05, 5.33e+05, 8.80e+04, 1.23e+05, 1.11e+05, 7.05e+05,
       8.29e+05, 2.31e+05, 5.95e+05, 4.19e+05, 6.21e+05, 6.04e+05,
       3.18e+05, 3.31e+05, 9.99e+05, 6.47e+05, 7.26e+05, 6.68e+05,
       1.29e+05, 5.03e+05, 8.16e+05, 5.61e+05, 3.81e+05, 2.95e+05,
       4.58e+05, 5.18e+05, 5.02e+05, 7.96e+05, 8.81e+05, 6.09e+05,
       4.43e+05, 2.17e+05, 6.70e+05, 5.51e+05, 5.30e+04, 5.56e+05,
       4.33e+05, 3.56e+05, 1.69e+05, 1.24e+05, 2.79e+05, 3.80e+04,
       2.33e+05, 8.33e+05, 7.64e+05, 3.94e+05, 6.23e+05, 4.24e+05,
       3.92e+05, 6.34e+05, 4.02e+05, 7.90e+05, 3.62e+05, 4.75e+05,
       4.56e+05, 4.74e+05, 3.47e+05, 8.23e+05, 3.90e+04, 3.69e+05,
       1.95e+05, 5.19e+05, 4.45e+05, 9.50e+04, 4.47e+05, 7.50e+04,
       5.80e+04, 3.90e+05, 1.71e+05, 3.10e+04, 5.77e+05, 4.98e+05,
       4.36e+05, 1.82e+05, 5.71e+05, 5.88e+05, 3.74e+05, 1.30e+05,
       3.65e+05, 1.62e+05, 4.94e+05, 7.97e+05, 2.78e+05, 6.46e+05,
       3.51e+05, 2.81e+05, 3.25e+05, 2.92e+05, 6.05e+05, 9.09e+05,
       9.47e+05, 4.10e+05, 3.28e+05, 5.98e+05, 2.89e+05, 8.72e+05,
       9.70e+05, 7.41e+05, 3.32e+05, 5.76e+05, 6.15e+05, 3.97e+05,
       3.20e+05, 4.25e+05, 9.54e+05, 3.02e+05, 4.01e+05, 2.44e+05,
       9.80e+05, 5.09e+05, 2.93e+05, 5.64e+05, 3.36e+05, 4.61e+05,
       4.14e+05, 2.71e+05, 2.65e+05, 7.59e+05, 3.09e+05, 7.07e+05,
       4.67e+05, 2.56e+05, 6.91e+05, 3.53e+05, 4.70e+05, 4.62e+05,
       6.42e+05, 7.28e+05, 4.70e+04, 4.49e+05, 1.85e+05, 5.52e+05,
       6.50e+04, 8.49e+05, 1.86e+05, 8.84e+05, 3.29e+05, 8.86e+05,
       5.41e+05, 2.39e+05, 6.67e+05, 2.85e+05, 7.58e+05, 7.80e+04,
       2.74e+05, 3.83e+05, 4.07e+05, 4.84e+05, 4.51e+05, 6.33e+05,
       2.14e+05, 5.17e+05, 7.77e+05, 1.98e+05, 7.56e+05, 4.37e+05,
       4.60e+05, 2.60e+04, 4.15e+05, 1.99e+05, 6.31e+05, 2.60e+05,
       2.20e+04, 2.99e+05, 9.18e+05, 1.02e+05, 3.30e+04, 7.39e+05,
       2.11e+05, 3.40e+05, 3.76e+05, 2.50e+04, 5.58e+05, 4.57e+05,
       1.46e+05, 2.29e+05, 2.19e+05, 2.20e+05, 4.30e+04, 4.77e+05,
       7.49e+05, 2.91e+05, 4.83e+05, 3.84e+05, 1.65e+05, 7.06e+05,
       2.12e+05, 4.41e+05, 4.00e+05, 1.57e+05, 6.81e+05, 5.22e+05,
       1.33e+05, 3.70e+05, 2.42e+05, 1.32e+05, 4.89e+05, 9.30e+04,
       2.67e+05, 1.05e+05, 6.78e+05, 7.90e+04, 2.96e+05, 5.35e+05,
       1.83e+05, 5.46e+05, 2.54e+05, 5.83e+05, 1.36e+05, 1.43e+05,
       4.46e+05, 5.15e+05, 1.68e+05, 2.73e+05, 2.66e+05, 2.07e+05,
       2.01e+05, 1.73e+05, 3.08e+05, 6.44e+05, 4.42e+05, 5.99e+05,
       1.12e+05, 1.19e+05, 5.65e+05, 4.66e+05, 6.22e+05, 4.79e+05,
       3.61e+05, 1.79e+05, 1.59e+05, 2.04e+05, 5.05e+05, 1.78e+05,
       3.95e+05, 2.24e+05, 1.30e+04, 1.90e+05, 1.14e+05, 2.49e+05,
       5.01e+05, 9.00e+04, 4.17e+05, 6.20e+04, 4.04e+05, 2.35e+05,
       1.70e+05, 5.27e+05, 2.82e+05, 4.85e+05, 5.45e+05, 4.76e+05,
       3.60e+04, 4.21e+05, 2.77e+05, 4.72e+05, 2.23e+05, 1.64e+05,
       1.17e+05, 2.86e+05, 1.21e+05, 2.94e+05, 3.16e+05, 3.89e+05,
       2.22e+05, 1.26e+05, 1.48e+05, 3.54e+05, 4.93e+05, 4.59e+05,
       1.06e+05, 1.92e+05, 3.27e+05, 1.42e+05, 3.49e+05, 1.20e+04,
       3.03e+05, 1.52e+05, 4.16e+05, 3.79e+05, 3.77e+05, 3.43e+05,
       2.83e+05, 2.06e+05, 1.67e+05, 2.09e+05, 3.22e+05, 1.56e+05,
       1.10e+05, 3.67e+05, 1.44e+05, 8.00e+04, 1.47e+05, 1.34e+05,
       9.90e+04, 2.27e+05, 8.10e+04, 1.37e+05, 2.53e+05, 7.60e+04,
       9.00e+03, 1.28e+05, 1.41e+05, 2.05e+05, 7.10e+04, 8.30e+04,
       8.60e+04, 7.20e+04, 1.66e+05, 9.60e+04, 1.18e+05, 1.61e+05,
       9.40e+04, 1.77e+05, 5.00e+04, 4.10e+04, 8.20e+04, 1.39e+05,
       6.60e+04, 8.40e+04, 7.40e+04, 1.07e+05, 4.90e+04, 1.01e+05,
       5.70e+04, 5.90e+04, 3.50e+04, 6.40e+04])

In [65]:
fd['Release Clause'].head()

0    138000000.0
1     75000000.0
2    159000000.0
3    161000000.0
4    166000000.0
Name: Release Clause, dtype: float64

In [66]:
fd['Value'].isnull().sum()

0

In [67]:
fd.iloc[:,35:50].head(6)

,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure
0,94,95,389,86,68,72,69,94,347,44,40,93,95,75,96
1,95,71,444,94,95,84,78,93,353,63,29,95,82,84,95
2,88,49,268,59,78,41,78,12,140,34,19,11,65,11,68
3,91,76,408,91,63,89,74,91,408,76,66,88,94,84,91
4,91,83,357,80,62,81,50,84,356,51,36,87,90,92,93
5,93,82,420,89,84,76,86,85,391,81,49,94,79,88,88

In [68]:
fd.iloc[:,51:66].head(6)

,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W
0,32,35,24,54,6,11,15,14,8,2231,466,4 ★,4★,Medium,Low
1,28,32,24,58,7,11,15,14,11,2221,464,4 ★,5★,High,Low
2,27,12,18,437,87,92,78,90,90,1413,489,3 ★,1★,Medium,Medium
3,68,65,53,56,15,13,5,10,13,2304,485,5 ★,4★,High,High
4,35,30,29,59,9,9,15,15,11,2175,451,5 ★,5★,High,Medium
5,35,42,19,51,15,6,12,8,10,2195,457,4 ★,4★,High,Medium

# Remove star(★) from IR, W/F, SM columns and change datatype to int

In [69]:
fd['IR'].unique()

array(['5 ★', '3 ★', '4 ★', '2 ★', '1 ★'], dtype=object)

In [70]:
def clean_star(x):
    x=x.replace('★','')
    return x

In [71]:
fd['IR']=fd['IR'].apply(clean_star)
fd['W/F']=fd['W/F'].apply(clean_star)
fd['SM']=fd['SM'].apply(clean_star)

In [72]:
fd[['IR','W/F','SM']].head()

   IR W/F SM
0  5   4   4
1  5   4   5
2  3   3   1
3  4   5   4
4  5   5   5

In [73]:
#Now convert it using pd.to_numeric()
fd['IR']=pd.to_numeric(fd['IR'])

In [74]:
fd['W/F']=pd.to_numeric(fd['W/F'])
fd['SM']=pd.to_numeric(fd['SM'])

In [75]:
fd[['IR','W/F','SM']].dtypes

IR     int64
W/F    int64
SM     int64
dtype: object

# Let us work on the Hits Column...multiplty the vals having 'k' by 1000, also change data type

In [76]:
fd.Hits.isnull().sum()

0

In [77]:
fd.Hits.unique()

array([771, 562, 150, 207, 595, 248, 246, 120, '1.6K', 130, 321, 189, 175,
       96, 118, 216, 212, 154, 205, 202, 339, 408, 103, 332, 86, 173, 161,
       396, '1.1K', 433, 242, 206, 177, '1.5K', 198, 459, 117, 119, 209,
       84, 187, 165, 203, 65, 336, 126, 313, 124, 145, 538, 182, 101, 45,
       377, 99, 194, 403, 414, 593, 374, 245, '3.2K', 266, 299, 309, 215,
       265, 211, 112, 337, 70, 159, 688, 116, 63, 144, 123, 71, 224, 113,
       168, 61, 89, 137, 278, 75, 148, 176, 197, 264, 214, 247, 402, 440,
       '1.7K', '2.3K', 171, 320, 657, 87, 259, 200, 255, 253, 196, 60, 97,
       85, 169, 256, 132, 239, 166, 121, 109, 32, 46, 122, 48, 527, 199,
       282, 51, '1.9K', 642, 155, 323, 288, 497, 509, 79, 49, 270, 511,
       80, 128, 115, 156, 204, 143, 140, 152, 220, 134, 225, 94, 74, 135,
       142, 50, 77, 40, 107, 193, 179, 34, 64, 453, 57, 81, 28, 78, 133,
       43, 425, 88, 42, 36, 233, 376, 210, 444, 100, 263, 98, 29, 160, 39,
       257, 6, 310, 138, 62, 293, 285, 362, 66, 69, 58, 21, 20, 131, 38,
       406, 68, 108, 110, 93, 512, 443, 306, 352, 422, 585, 346, 178, 841,
       76, 394, 72, 172, 44, 407, 230, 367, 295, 157, 243, 56, 111, 326,
       679, 18, 92, 59, 25, 184, 53, 12, 90, 55, 73, 11, 566, 180, 83,
       262, 17, 26, 31, 280, 359, 213, 297, 387, 480, 381, 677, 486, 8,
       244, 129, 388, 275, 319, '2K', 52, 91, 421, 153, 27, 41, 222, 35,
       102, 23, 30, 33, 146, 13, 19, 14, 106, 276, 568, 353, 47, 478, 249,
       254, 369, 219, 565, 237, 227, 434, 375, 162, 605, 654, 3, 7, 9,
       104, 114, 186, 446, 756, 22, 139, 500, 67, 147, 149, 16, 82, 54,
       37, 15, '1.3K', '3K', 952, 5, 749, 541, 330, 393, 517, 770, 409,
       170, 125, 283, 342, 363, 580, 105, 217, 24, 141, 10, 427, 158, 426,
       4, 666, 181, 324, 979, '1.4K', 302, 751, 298, 411, 944, 2, 947,
       292, 349, 621, 1, '2.8K', 338, 287, 261, 218, '1.8K', 240, 279,
       229, 188, 315, 664, 613, 190, 706, 127, 462, 386, 695, 491, 167,
       281, 250, 307, 95, 231, 174, 680, 633, 221, 348, 602, 183, 653,
       195, 164, 151, 258, '8.4K', 343, 419, 655, 136, 399, 531, 357, 228,
       385, 312, 340, 238, 487, 355, 499, '4.3K', 296, 515, 943, '1.2K',
       903, 335, 191, 594, 267, 617, 516, 504, 331, 652, 410, 550, 473,
       442, 344, 208, '1K', '2.5K', 273, 485, 826, 192, 405, 941, 477,
       644, 303, 417, '6K', 0], dtype=object)

In [78]:
fd['Hits']=fd['Hits'].astype(str)

def hitcol(b):
    if 'K' in b:
        b= b.replace('K','')
        b= float(b)
        b=int(b)*1000
        return b
    else:
        b=b
        return b

In [79]:
fd['Hits']=fd['Hits'].apply(hitcol)

In [80]:
fd['Hits'].unique()

array(['771', '562', '150', '207', '595', '248', '246', '120', 1000,
       '130', '321', '189', '175', '96', '118', '216', '212', '154',
       '205', '202', '339', '408', '103', '332', '86', '173', '161',
       '396', '433', '242', '206', '177', '198', '459', '117', '119',
       '209', '84', '187', '165', '203', '65', '336', '126', '313', '124',
       '145', '538', '182', '101', '45', '377', '99', '194', '403', '414',
       '593', '374', '245', 3000, '266', '299', '309', '215', '265',
       '211', '112', '337', '70', '159', '688', '116', '63', '144', '123',
       '71', '224', '113', '168', '61', '89', '137', '278', '75', '148',
       '176', '197', '264', '214', '247', '402', '440', 2000, '171',
       '320', '657', '87', '259', '200', '255', '253', '196', '60', '97',
       '85', '169', '256', '132', '239', '166', '121', '109', '32', '46',
       '122', '48', '527', '199', '282', '51', '642', '155', '323', '288',
       '497', '509', '79', '49', '270', '511', '80', '128', '115', '156',
       '204', '143', '140', '152', '220', '134', '225', '94', '74', '135',
       '142', '50', '77', '40', '107', '193', '179', '34', '64', '453',
       '57', '81', '28', '78', '133', '43', '425', '88', '42', '36',
       '233', '376', '210', '444', '100', '263', '98', '29', '160', '39',
       '257', '6', '310', '138', '62', '293', '285', '362', '66', '69',
       '58', '21', '20', '131', '38', '406', '68', '108', '110', '93',
       '512', '443', '306', '352', '422', '585', '346', '178', '841',
       '76', '394', '72', '172', '44', '407', '230', '367', '295', '157',
       '243', '56', '111', '326', '679', '18', '92', '59', '25', '184',
       '53', '12', '90', '55', '73', '11', '566', '180', '83', '262',
       '17', '26', '31', '280', '359', '213', '297', '387', '480', '381',
       '677', '486', '8', '244', '129', '388', '275', '319', '52', '91',
       '421', '153', '27', '41', '222', '35', '102', '23', '30', '33',
       '146', '13', '19', '14', '106', '276', '568', '353', '47', '478',
       '249', '254', '369', '219', '565', '237', '227', '434', '375',
       '162', '605', '654', '3', '7', '9', '104', '114', '186', '446',
       '756', '22', '139', '500', '67', '147', '149', '16', '82', '54',
       '37', '15', '952', '5', '749', '541', '330', '393', '517', '770',
       '409', '170', '125', '283', '342', '363', '580', '105', '217',
       '24', '141', '10', '427', '158', '426', '4', '666', '181', '324',
       '979', '302', '751', '298', '411', '944', '2', '947', '292', '349',
       '621', '1', '338', '287', '261', '218', '240', '279', '229', '188',
       '315', '664', '613', '190', '706', '127', '462', '386', '695',
       '491', '167', '281', '250', '307', '95', '231', '174', '680',
       '633', '221', '348', '602', '183', '653', '195', '164', '151',
       '258', 8000, '343', '419', '655', '136', '399', '531', '357',
       '228', '385', '312', '340', '238', '487', '355', '499', 4000,
       '296', '515', '943', '903', '335', '191', '594', '267', '617',
       '516', '504', '331', '652', '410', '550', '473', '442', '344',
       '208', '273', '485', '826', '192', '405', '941', '477', '644',
       '303', '417', 6000, '0'], dtype=object)

In [81]:
fd['Hits'].dtype

dtype('O')

In [82]:
fd['Hits']=pd.to_numeric(fd['Hits'])

In [83]:
fd['Hits'].isnull().sum()

0

In [84]:
fd['Joined']=pd.to_datetime(fd['Joined'])

# Checking for duplicates

In [85]:
fd[fd.duplicated()]

Empty DataFrame
Columns: [ID, Full_name, photoUrl, Nationality, Age, OVA, POT, Club, Contract_status, Positions, Height(cm), Weight(kg), Preferred Foot, BOV, Best Position, Joined, Value, Wage, Release Clause, Attacking, Crossing, Finishing, Heading Accuracy, Short Passing, Volleys, Skill, Dribbling, Curve, FK Accuracy, Long Passing, Ball Control, Movement, Acceleration, Sprint Speed, Agility, Reactions, Balance, Power, Shot Power, Jumping, Stamina, Strength, Long Shots, Mentality, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Defending, Marking, Standing Tackle, Sliding Tackle, Goalkeeping, GK Diving, GK Handling, GK Kicking, GK Positioning, GK Reflexes, Total Stats, Base Stats, W/F, SM, A/W, D/W, IR, PAC, SHO, PAS, DRI, DEF, PHY, Hits]
Index: []

[0 rows x 74 columns]

# Creating another copy

In [86]:
Cleaned_Fifa_Data=fd.copy()

In [87]:
Cleaned_Fifa_Data.head(3)

,ID,Full_name,photoUrl,Nationality,Age,OVA,POT,Club,Contract_status,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,Argentina,33,93,93,FC Barcelona,Contract_active,"RW, ST, CF",...,Medium,Low,5,85,92,91,95,38,65,771
1,20801,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,Portugal,35,92,92,Juventus,Contract_active,"ST, LW",...,High,Low,5,89,93,81,89,35,77,562
2,200389,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,Slovenia,27,91,93,Atlético Madrid,Contract_active,GK,...,Medium,Medium,3,87,92,78,90,52,90,150